@page "/Favoris"
@using BlazorApp1
@using BlazorApp1.Components.Models

<PageTitle>Favoris</PageTitle>
<h3>Favoris</h3>
<p>Bienvenue sur la page des favoris !</p>
<p>Découvrez vos éléments préférés et accédez rapidement à vos contenus favoris.</p>
<p>Pour plus d'informations, consultez notre <a href="https://example.com/favorites">page de favoris</a>.</p>







@code {

}
