.video-hero-container {
    position: relative;
    height: 70vh; /* Réduit la hauteur de la vidéo à 70% de la hauteur de l'écran */
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Assure que la vidéo couvre toute la zone sans déformer l'image */
}

.video-overlay {
    position: relative;
    z-index: 2;
    padding: 2rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Légère superposition sombre pour le texte */
}

.text-gold {
    color: #ffc300;
}

.btn-maritime {
    background-color: #003566;
    color: #fff;
    border: 2px solid #ffc300;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border-radius: 12px;
    transition: all 0.3s ease;
}

    .btn-maritime:hover {
        background-color: #001d3d;
        color: #ffc300;
        border-color: white;
    }

.features-section {
    padding: 4rem 0;
}

.feature-icon {
    width: 60px;
    height: 60px;
}
