@page "/NewsBoat"
@using BlazorApp1
@using BlazorApp1.Components.Models


<h3>Nouvauté</h3>

<p>Bienvenue sur la page des nouveautés !</p>
<p>Restez à jour avec les dernières informations et mises à jour.</p>

<p>Explorez les nouvelles fonctionnalités et les améliorations récentes.</p>
<p>Pour plus d'informations, consultez notre <a href="https://example.com/news">page d'actualités</a>.</p>


@code {

}
